@import "tailwindcss";

@theme {
  --color-saban-green: #075E54;
  --color-whatsapp-bg: #E5DDD5;
  --color-shahar-bg: #DCF8C6;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 229, 221, 213;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
/* מזיז את פעמון ההתראות שמאלה כדי שלא יסתיר את שדה ההקלדה */
.onesignal-bell-launcher {
  left: 20px !important;
  right: auto !important;
  bottom: 80px !important;
}
